.details_workPlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
.map {
  display: flex;
  justify-content: end;
}
.address {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.name {
  display: flex;
  justify-content: end;
} */
