.leaflet-container {
  width: 100%;
  height: 20vh;
}
.details_workPlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.details-name-address {
  width: 50%;
  float: left;
}
.map {
  width: 30%;
  float: right;
  justify-content: end;
  margin-bottom: 10px;
}
