* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;1,600&family=Chicle&family=Open+Sans:wght@300&display=swap");
